.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  z-index: 4;
}

/* NAVIGATION */

#fr_typeZone, #fr_utilimportMap{
	border-bottom: 1px solid grey ;

}

#ap_controls {
  /* Appearance */
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.6;
  zoom: 1.0;
  transition: opacity 500ms 1s;
  z-index: 1400;
}
#ap_controls:hover {
  /* Fade in while hovering */
  opacity: 0.90;
  transition-delay: 0;
}

#rg_typeZone{
z-index: 1500;
margin :auto;
}


#ab_userStat{
	margin :auto;
}

#pt_hideMenu{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#to_stat_title{
	font-size: 30px;
	font-style: bold;
	}

#fr_typeZone, #fr_utilimportMap, #fr_utilStat, #fi_userMap {
	  z-index: 1499;
}

.modal-backdrop
{
 opacity:0.8;
}

#llo_agateMap{
z-index: 1;
}


/* Tutoriel Agate */

.introjs-helperLayer {
        background: transparent;
    }

    .introjs-overlay {
        display: none;
    }

    .introjs-helperLayer:before {
        opacity: 0;
        content: '';
        position: fixed;
        width: inherit;
        height: inherit;
        border-radius: 0.5em;
        border: .2em solid rgba(255, 217, 68, 0.8);
        box-shadow: 0 0 0 1000em rgba(0,0,0, .7);
        opacity: 1;
    }

    .introjs-helperLayer:after {
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: fixed;
        z-index: 1000;
    }
.introjs-fixParent.modal {
    z-index:1050 !important;  
}
